.title{
    font-size: 100px;
    font-family: Helvatica;
    font-weight: bold;
    color:khaki;
    text-align: center;
    background-image: url("https://content.codecademy.com/courses/freelance-1/unit-2/pattern.jpeg");
    opacity: 0.5;
    
}

h2{
    font-size: 32px;
    font-family: Helvatica;
    font-weight: bold;
    color:white;  
}

h2.brushes{
    background-color: mediumseagreen;
    opacity: 0.5; 
}
h2.frame{
    background-color: lightcoral;
    opacity: 0.5; 
}
h2.paint{
    background-color: skyblue;
    opacity: 0.5; 
}

h2.h3{
    font-family: Helvatica;
    font-weight: bold;
    color:black; 
}
p{
    font-family: Helvatica;
    font-weight: bold;
    color:black;  
}